{% extends 'base.html' %}
{% block content %}
<h1>Books</h1>
<ul>
    <div class="card">
        <div class="card-body">
            <h1 class="card-subtitle">Author: {{ book.author }}</h1>
            <h1 class="card-subtitle">Title: {{ book.title }}</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Datetime</th>
                        <th>User</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    {% for transaction in book.transaction_set.all %}
                    <tr>
                        <td>{{ transaction.datetime.now }}</td>
                        <td>${{ transaction.user.username }}</td>
                        <td>{{ transaction.action }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'home' %}" class="card-link">Back to Library</a>
        </div>
    </div>
</ul>
{% endblock content %}