{% extends 'base.html' %}
{% block content %}
<h1>Books</h1>
<ul>
    <div class="card">
        <div class="card-body">
            <h1 class="card-subtitle">Author {{ book.author }}</h1>
            <h1 class="card-subtitle">Title {{ book.title }}</h1>
            <dl>
                {% for transaction in book.transaction_set.all %}
                <dt>Checked In</dt>
                <dd>{{ transaction.datetime }}</dd>
                <dt>Borrower's Name</dt>
                <dd>${{ transaction.user.username }}</dd>
                <dt>Checked Out</dt>
                <dd>{{ transaction.action }}</dd>
                {% endfor %}
            </dl>
            <a href="{% url 'home' %}" class="card-link">Back to Library</a>
        </div>
    </div>
</ul>
{% endblock content %}